# files created during build
Makefile
bzlib/.deps/
checks/data-32000
checks/data-500
checks/data-80000
checks/data-9000
checks/defs-config.inc
checks/gpg_dearmor
checks/plain-1
checks/plain-2
checks/plain-3
checks/plain-large
checks/pubring.gpg
checks/pubring.pkr
checks/secring.gpg
checks/secring.skr
cipher/.deps/
cipher/libcipher.a
config.h
config.log
config.status
doc/gpg.1
doc/gpgv.1
doc/yat2m
doc/yat2m-stamp
g10/.deps/
g10/gpg
g10/gpgv
keyserver/.deps/
keyserver/gpgkeys_curl
keyserver/gpgkeys_finger
keyserver/gpgkeys_hkp
keyserver/gpgkeys_ldap
keyserver/gpgkeys_mailto
keyserver/gpgkeys_test
mpi/.deps/
mpi/asm-syntax.h
mpi/libmpi.a
mpi/mpi-asm-defs.h
mpi/mpih-add1.c
mpi/mpih-lshift.c
mpi/mpih-mul1.c
mpi/mpih-mul2.c
mpi/mpih-mul3.c
mpi/mpih-rshift.c
mpi/mpih-sub1.c
mpi/sysdep.h
po/Makefile.in
po/POTFILES
stamp-h1
tools/.deps/
tools/bftest
tools/clean-sat
tools/gpg-zip
tools/gpgsplit
tools/make-dns-cert
tools/mk-tdata
tools/mpicalc
tools/shmtest
util/.deps/
util/libcompat.a
util/libutil.a
zlib/.deps/
*.o
*.swp

# after build this gets edited, no need to track it
doc/gnupg1.info
